{# src/Sdz/BlogBundle/Ressources/views/layout.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    Simply Vacances - {{ parent() }}
{% endblock %}

{% block header %}
    <nav id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('front_homepage') }}" role="button">
                            <img src="{{ asset('bundles/front/img/logo-transparent.png') }}" height="20px"
                                 alt="Accueil"/></a>
                    </li>
                    <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                    {% if is_granted("ROLE_ADMIN")  %}
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Adminsitration</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Mon Compte <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('moncompte') }}">Mes infos</a></li>
                            <li><a href="{{ path('mes_reservations') }}">Mes Réservations</a></li>
                            <li><a href="{{ path('camping_favoris') }}">Mes Camping Favoris</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de
                                    passe</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.firstname is not null or app.user.lastname is not null %}
                            <li><a>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</a></li>
                        {% else %}
                            <li><a>{{ app.user.username }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

 {% block nav_left %}
     <div id="content" class="col-md-2">

         <ul class="nav nav-pills nav-stacked">
             {% block nav_left_2 %}
             {% endblock %}
         </ul>
     </div>
 {% endblock %}
{% block body %}
    <div id="content" class="col-md-10">

        {# on definit un sous-titre commun a toutes les pages du bundle, par exemple # #}
        {% block body_2 %}{% endblock %}
    </div>
{% endblock %}


    {% block footer %}
        <hr>
        <div class="footer-wrapper">
            <div class="container">
                <div class="row col-md-11 col-md-offset-1">
                    <div class="col-md-9">
                        {{ render(controller('FrontBundle:Index:footer')) }}
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Simply Vacances</h2>

                        <p>Pour toute question contactez nous</p>
                        <br/>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 01 23 45
                                67 89
                            </span>
                            <br/>
                            <a href="mailto:simply-ce@mail.com" class="contact-email">simply-ce@mail.com</a>
                        </address>

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="pull-left">
                    <a href="{{ path('front_homepage') }}">
                        <img src="{{ asset('bundles/front/img/logo.png') }}" alt="Simply CE logo" height="60px"/>
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i
                                class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
                    <p>&copy; 2015 Simply Vacances</p>
                </div>
            </div>
        </div>

    {% endblock %}
