{#{% for enseigne in results %}#}
    {#<tr>#}
        {#<td>{{ enseigne.nom }}</td>#}
        {#<td>{{ enseigne.classement }}</td>#}
        {#<td>{{ enseigne.description |slice(0,50) }}</td>#}
    {#</tr>#}
{#{% endfor %}#}

{% extends 'FrontBundle::layout.html.twig' %}
{% block body_2 %}
    {# block pagination#}

    {% if pager is not null and pager.haveToPaginate %}
        <div class="pager">
            {{ pagerfanta(pager, 'twitter_bootstrap', {
                'routeName': 'recherche_enseigne_paginated',
                'routeParams': app.request.query.all,
                'prev_message': 'Previous',
                'next_message': 'Next'
            }) }}
        </div>
    {% endif %}
    {% for enseigne in results %}
        <div class="col-md-8">
            <em>{{ enseigne.nom }}</em> <br>
            {{ enseigne.ville.libelle }}
            {#{{ enseigne.classement }}<br>#}
            {% for i in 0..enseigne.classement %}
        <img class="etoile" src="{{ asset('images/etoile.png') }}"/>
            {% endfor %}<br>

            {{ enseigne.description|slice(0,80) }}
            <br/>
        </div>
    {% endfor %}
{% endblock %}