{% extends "FrontBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="thumbnail col-md-10 col-md-offset-1 ">
            <form id="search-form-enseigne" action="{{ path('enseigne_recherche') }}" class="form-inline"> 
                    <div class="form-group col-md-3">
                        {{ form_label(form.nom) }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_label(form.theme) }}
                        {{ form_errors(form.theme) }}
                        {{ form_widget(form.theme) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_label(form.perPage) }}
                        {{ form_errors(form.perPage) }}
                        {{ form_widget(form.perPage) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_label(form.sortSelect) }}
                        {{ form_errors(form.sortSelect) }}
                        {{ form_widget(form.sortSelect) }}
                    </div>
                    <div class="form-group col-md-3 fixheight">
                        <label class="" style="margin-bottom:0px;">&nbsp;</label>
                        {{ form_widget(form.search) }}
                    </div>
            </form>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12 ">
            {% if results|length > 0 %}
            <div class="col-lg-12 listing-style3 hotel">
                {% if pager is not null and pager.haveToPaginate %}
                    <div class="pager">
                        {{ pagerfanta(pager, 'twitter_bootstrap', {
                            'routeName': 'enseigne_recherche',
                            'routeParams': app.request.query.all,
                            'prev_message': 'Précédent',
                            'next_message': 'Suivant'
                        }) }}
                    </div>
                {% endif %}


                {% for result in results %}
                    <article class="box">
                        <figure class="col-sm-4 col-md-3">
                            {% if result.image %}
                                <a title="" href="{{ path('enseigne_voir',{ 'id': result.id }) }}" class="hover-effect">
                                    <img src="{{ asset(result.image.webPath) }}"
                                         alt="{{ result.nom }}"
                                         width="270" height="160"/>
                                </a>
                            {% else %}
                                <a title="" href="#" class="hover-effect">
                                    {% image '@FrontBundle/Resources/public/img/camping.jpeg' %}
                                        <img src="{{ asset_url }}" width="270" height="160"/>
                                    {% endimage %}
                                </a>
                            {% endif %}
                        </figure>
                        <div class="details col-xs-12 col-sm-8 col-md-9">
                            <div>
                                <div>
                                    <h4 class="box-title"><a href="{{ path('enseigne_voir',
                                        {'id':result.id}) }}" title="{{ result.nom }}">{{ result
                                            .nom }}</a>
                                        <small>
                                            <i class="soap-icon-departure yellow-color"></i> {{ result.ville.libelle }}
                                            - {{ result.ville.departement.libelle }}
                                        </small>
                                    </h4>

                                </div>
                                <div>
                                    {#<div class="five-stars-container">#}
                                    <div>
                                        {% for i in 1..result.classement %}
                                            {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                                            <img class="etoile" src="{{ asset_url }}"/>
                                            {% endimage %}
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                            <div>
                                <p>{{ result.description|truncate(200) }}</p>

                                <div>
                                    <span class="price"><small>A partir de </small>{{prices[loop.index-1].tarifmini}} €<small>la semaine</small></span>
                                    <a class="button col-md-6 col-md-offset-3"
                                       href="{{ path('enseigne_voir',{'id':result.id}) }}"
                                       title="{{ result.nom }}">Voir</a>
                                </div>
                            </div>
                        </div>
                    </article>

                {% endfor %}

                {% if pager is not null and pager.haveToPaginate %}
                    <div class="pager">
                        {{ pagerfanta(pager, 'twitter_bootstrap', {
                            'routeName': 'enseigne_recherche',
                            'routeParams': app.request.query.all,
                            'prev_message': 'Précédent',
                            'next_message': 'Suivant'
                        }) }}
                    </div>
                {% endif %}
                {% else %}
                    <div class="alert-danger">Aucune données</div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}