{% extends "FrontBundle::layout.html.twig" %}

{% block body_2 %}
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
        <form id="search-form-enseigne" action="{{ path('enseigne_recherche') }}" class="form-inline">
                <div class="form-group col-md-3">
                    {{ form_label(form.nom) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_label(form.theme) }}
                    {{ form_errors(form.theme) }}
                    {{ form_widget(form.theme) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_label(form.perPage) }}
                    {{ form_errors(form.perPage) }}
                    {{ form_widget(form.perPage) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_label(form.sortSelect) }}
                    {{ form_errors(form.sortSelect) }}
                    {{ form_widget(form.sortSelect) }}
                </div>
                <div class="form-group col-md-2 fixheight">
                    <label class="hidden-xs">&nbsp;</label>

                    {{ form_widget(form.search) }}
                </div>

        </form>
            </div>

    </div>
    {% if results|length > 0 %}

        {% if pager is not null and pager.haveToPaginate %}
            <div class="pager">
                {{ pagerfanta(pager, 'twitter_bootstrap', {
                    'routeName': 'enseigne_recherche',
                    'routeParams': app.request.query.all,
                    'prev_message': 'Previous',
                    'next_message': 'Next'
                }) }}
            </div>
        {% endif %}


        {% for result in results %}
            <div class="col-md-3" {#id="enseigne" #}>
                <article class="box thumbnail">
                    {% if result.image %}
                        <figure class="animated" data-animation-type="fadeInDown"
                                data-animation-delay="1">
                            <a href="" title="{{ path('enseigne_voir',{'id': result.id}) }}"
                               class="hover-effect popup-gallery">
                                <img src="{{ asset(result.image.webPath) }}"
                                     alt="{{ result.nom }}"
                                     class="enseigne-mini"/>
                            </a>
                        </figure>
                    {% endif %}

                    <div class="details">
                        <h4 class="box-title">
                            <a href="{{ path('enseigne_voir',{'id': result.id}) }}">{{ result.nom }}</a>
                        </h4>
                        {{ result.ville.libelle }} - {{ result.ville.departement.libelle }}

                        <div data-placement="bottom" data-toggle="tooltip" class="classement">
                            {% for i in 1..result.classement %}
                                {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                                <img class="etoile" src="{{ asset_url }}"/>
                                {% endimage %}
                            {% endfor %}
                        </div>
                        <hr>
                        <a class="button col-md-6 col-md-offset-3" href="{{ path('enseigne_voir',{'id':result.id}) }}"
                           title="{{ result.nom }}">Voir</a><br>

                    </div>
                </article>
            </div>
        {% endfor %}
        {% if pager is not null and pager.haveToPaginate %}
            <div class="pager">
                {{ pagerfanta(pager, 'twitter_bootstrap', {
                    'routeName': 'enseigne_recherche',
                    'routeParams': app.request.query.all,
                    'prev_message': 'Previous',
                    'next_message': 'Next'
                }) }}
            </div>
        {% endif %}
    {% else %}
        <div class="alert-danger">Aucune données</div>
    {% endif %}


{% endblock %}