{% extends "FrontBundle::layout.html.twig" %}
{% from 'FrontBundle:Common:alerts.html.twig' import flashes %}

{% block title %}{{ enseigne.nom }} - {{ enseigne.ville.libelle }}{% endblock %}
 {% block nav_left %}
 {% endblock %}
{% block body %}
    {{ flashes() }}
    <div id="main" class="col-md-9">
        <div class="tab-container style1" id="hotel-main-content">
            <ul class="tabs">
                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                {% if enseigne.latitude != null and enseigne.longitude != null %}
                    <div class="longitude"
                         data-enseignelongitude={{ enseigne.longitude }}></div>
                    <div class="latitude" data-enseignelatitude={{ enseigne.latitude }}></div>
                    <li><a data-toggle="tab" href="#map-tab">map</a></li>
                    <li><a data-toggle="tab" href="#steet-view-tab">street view</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="photos-tab" class="tab-pane fade in active">
                    <div class="photo-gallery style1" data-animation="slide"
                         data-sync="#photos-tab .image-carousel">
                        <ul class="slides">
                            {% if enseigne.image %}
                                <img src="{{ asset(enseigne.image.webPath) }}"
                                     alt="{{ enseigne.image.alt }}"
                                     class="enseigneImg"/>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if enseigne.latitude != null and enseigne.longitude != null %}
                    <div id="map-tab" class="tab-pane fade"></div>
                    <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;"></div>
                {% endif %}
            </div>
        </div>
        <div id="hotel-features" class="tab-container">
            <ul class="tabs">
                <li class="active"><a href="#reservations" data-toggle="tab">Réservations</a>
                </li>
                {% if enseigne.options.count > 0 %}
                    <li><a href="#services" data-toggle="tab">Services</a></li>
                {% endif %}
                <li><a href="#adresse" data-toggle="tab">Adresse</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="reservations">
                    <div class="update-search clearfix">
                        <h2>Reservations</h2>
                        
                        {% if enseigne.locations.count > 0 %}
                        <form method="get" action="{{ path('reservation_creer') }}"
                              class="form-inline">
                            <div class="col-md-6">
                                <select id="offres" name="idOffre" class="form-control"
                                        required="required">
                                    <option value="null">----</option>
                                    {% for loc in enseigne.locations %}
                                    <option value="{{loc.id}}">{{ loc.hebergement }} - {{ loc.hebergement.nbMaxPlace }} pers</option>
                                        <!-- <optgroup
                                               
                                            {% for offre in loc.offresLocation %}
                                                <option value="{{ offre.id }}">
                                                    {{ offre.tarif }} € -
                                                    du {{ offre.dateDebut|date('d-m-Y') }}
                                                    au {{ offre.dateFin|date('d-m-Y') }}</option>
                                            {% endfor %}
                                        </optgroup> -->
                                    {% endfor %}
                                </select>
                                   <div id="list-reservation"></div>
                               
                            </div>  
                            <div class="col-md-6">
                                <button name="btnReserver" data-animation-duration="1"
                                        data-animation-type="bounce"
                                        class="full-width icon-check animated"
                                        type="submit" disabled>Réserver
                                </button>
                            </div>

                        </form>
                        {% else %}
                            Pas de réservation disponible pour le moment
                        {% endif %}
                    </div>
                </div>
                {% if enseigne.options.count > 0 %}
                    <div class="tab-pane fade" id="services">
                        <h2>Services proposés</h2>
                        <ul class="amenities clearfix style2">
                            {% for option in enseigne.options %}
                                <li class="col-md-4 col-sm-6">
                                    <div class="icon-box styl21">{{ option }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="tab-pane fade" id="adresse">
                    {{ enseigne.adresse }}{% if enseigne.adresseComplement %}{{ enseigne.adresseComplement }}{% endif %}
                    , {{ enseigne.ville
                    .cp }}
                    {{ enseigne
                    .ville
                    .libelle }}

                </div>

            </div>

        </div>
    </div>
    <div class="sidebar col-md-3">
        <article class="detailed-logo">
            <figure>
                {% if enseigne.image != null %}
                    <img src="{{ asset(enseigne.image.webPath) }}"
                         alt="{{ enseigne.image.alt }}"
                         class="enseigneImg"/>
                {% endif %}
            </figure>
            <div class="details">
                <h2 class="box-title">{{ enseigne.nom }}
                    <small><i class="soap-icon-departure yellow-color"></i><span
                                class="fourty-space">{{ enseigne
                            .ville.libelle }}, {{ enseigne.ville.departement.libelle }} </span>
                    </small>
                </h2>
                {% if offreMoinsCher %}
                                <span class="price clearfix">
                                    <small class="pull-left">A PARTIR DE</small>
                                    <small class="pull-left">la semaine</small>
                                    <span class="pull-right">{{ offreMoinsCher }}€</span>
                                </span>
                {% endif %}
                <div class="feedback clearfix">
                    {% for i in 1..enseigne.classement %}
                        {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                        <img class="etoile" src="{{ asset_url }}"/>
                        {% endimage %}
                    {% endfor %}
                </div>
                <p class="description">{{ enseigne.description }}</p>

                <div class="iddata" data-enseigneid={{ enseigne.id }}></div>
                <div id="idbtn">
                    {% 
                    if enseigne in favoris %}
                        <a class="retirerFavoris button yellow full-width uppercase btn-small"
                           id="btn">Retirer au
                            favoris</a>
                    {% else %}
                        <a class="ajouterFavoris button green full-width uppercase btn-small"
                           id="btn">Ajouter au favoris</a>
                    {% endif %}
                </div>
            </div>
        </article>
        {% include 'FrontBundle:Common:contact.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
$(document).ready(function () {
     $("select[name='idOffre']").on('change', function (e) {
            e.preventDefault();
            if ($("select[name='idOffre'] option:selected").val() != 'null') {
                   $("button[name='btnReserver']").removeAttr('disabled');
                }
            else if($("select[name='idOffre'] option:selected").val() =='null'){
                $("button[name='btnReserver']").attr('disabled','disabled');
            }
                var id= $("select[name='idOffre']").val();

                $.get( Routing.generate('offres_locations', {id: id}), function(data){
                        // $('#list-reservation').text(data.offres);
                        console.log(data);
                        $.each( data.offres, function( key, value ) {
                         // $('#list-reservation').text( key + ": " + value );
                         console.log(value.tarif);
                        });
                });
            });  
        });  
</script>
    <script type='text/javascript' src="//maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    {% javascripts  '@FrontBundle/Resources/public/js/enseigne.js' output='js/compiled/core_enseigne.js' %}
        <script src="{{ asset_url }}" charset="utf-8"></script>
    {% endjavascripts %}

{% endblock %}
