{#&#123;&#35;&#35;&#125;#}
{#{% for enseigne in results %}#}
    {#<tr>#}
        {#<td>{{ enseigne.nom }}</td>#}
        {#<td>{{ enseigne.classement }}</td>#}
        {#<td>{{ enseigne.description |slice(0,50) }}</td>#}
    {#</tr>#}
{#{% endfor %}#}





{% extends 'FrontBundle::layout.html.twig' %}
{% block body_2 %}
    {#<table>#}
    {% for enseigne in results %}
        <tr>
            <td>{{ enseigne.nom }}</td>
            <td>{{ enseigne.classement }}</td>
            <td>{{ enseigne.description }}</td>
        </tr>
    {% endfor %}

    {#</table>{{ dump(results) }}#}
{% endblock %}