<div class="travelo-box">
    <form id="search-form-enseigne" action="{{ path('enseigne_recherche') }}"
          class="form-horizontal" role="form">

        <div class="form-group row">
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div class="form-group row">
            {{ form_errors(form.theme) }}
            {{ form_widget(form.theme) }}
        </div>
        <div class="form-group row">
            {{ form_widget(form.search) }}
        </div>

    </form>
</div>