<form id="search-form-enseigne" action="{{ path('enseigne_recherche') }}" class="form-inline">
    <div class="row">
        <div class="form-group col-md-3">
            {{ form_label(form.nom,"Recherche") }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.theme, "Thème") }}
            {{ form_errors(form.theme) }}
            {{ form_widget(form.theme) }}
        </div>

        <div class="form-group col-md-2 fixheight">
                {{ form_widget(form.search) }}
        </div>

    </div>
</form>