{% extends "SimplyUserBundle::layout.html.twig" %}

{% block title %}
    Authentification
{% endblock %}


    {% block fos_user_content %}
        <div class="row login">
            <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-2
col-lg-offset-5">

                {% if error %}
                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <p class="block">  
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success active">Créer un
                        compte</a>
                </p>   
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               class="form-control" placeholder="Adresse e mail"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required"
                               class="form-control" placeholder="Mot de passe"/>
                    </div>

                    <div class="form-inline">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-medium sky-blue1
                        full-width">Se
                            connecter
                        </button>
                    </div>

                <p class="block">

                    <a href="{{ path('fos_user_resetting_request') }}" >Réinitialiser
                        votre mot de passe
                    </a>
                </p>
                </form>
            </div>
        </div>

    {% endblock fos_user_content %}
