{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Résultats de la recherche{% endblock %}
{% block body_2 %}
Résultats de la recherche

    {% for key, user in result %}
        <li>{{ key }}: {{ user.libelle|json_encode() }}<br/>
            {{ user.cp|json_encode() }}</li>
    {% endfor %}
{% endblock %}
