{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Demande de Réservation{% endblock %}
  {% block nav_left_2 %}
      {% include 'FrontBundle:Common:contact.html.twig' %}
  {% endblock %}

{% block body_2 %}
        <div class="container col-md-12">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <form method="POST" action="{{ path('reservation_creer') }}" role="form"
                              class="booking-form">
                            <div class="person-information">
                                <h2>Récapitulatif de la de réservation</h2>

                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Prénom</label>
                                        <input type="text" class="input-text full-width"
                                               value="{{ app.user.firstname }}"
                                               disabled/>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Nom</label>
                                        <input type="text" class="input-text full-width"
                                               value="{{ app.user.lastname }}"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Telephone</label>
                                        <input type="text" class="input-text full-width"
                                               value="{{ app.user.phone }}"
                                               id="userTel" name="userTel" disabled/>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Mail</label>
                                        <input type="text" class="input-text full-width"
                                               value="{{ app.user.email }}"
                                               disabled/>
                                    </div>
                                </div>

                            </div>
                            {{ app.request.attributes.set('idOffre', idoffre) }}

                            <div class="form-group">
                                <input type="hidden" id="tarifLoc" name="tarifLoc"
                                       value="{{ offreLocation.tarif }}"
                                       disabled="disabled"
                                       class="form-control"/>
                                {{ form_widget(form) }}
                            </div>
                            <ul class="participants"
                                data-prototype="{{ form_widget(form.participants.vars.prototype) }}">
                            </ul>

                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">Valider la
                                        réservation
                                    </button>
                                </div>

                                {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                <div class="booking-details travelo-box">
                    <h4>Détails de la réservation</h4>
                    <article class="image-box hotel listing-style1">
                        <figure class="clearfix">
                            {% if enseigne.image %}
                                <a href="{{ path('enseigne_voir',{ 'id' :enseigne.id }) }}" class="hover-effect middle-block">
                                    <img class="middle-team"
                                         src="{{ asset(enseigne.image.webPath) }}"
                                         width="270"
                                         height="160" alt="{{ enseigne.nom }}"></a>
                            {% endif %}
                            <div class="travel-title">
                                <h5 class="box-title">{{ enseigne.nom }}
                                    <small>{{ enseigne.ville.libelle }}</small>
                                </h5>
                            </div>
                        </figure>
                        <div class="details">
                            <div class="feedback">

                                {% for i in 1..enseigne.classement %}
                                    {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                                    <img class="etoile" src="{{ asset_url }}"/>
                                    {% endimage %}
                                {% endfor %}
                            </div>
                            <div class="constant-column-3 timing clearfix">
                                <div class="check-in">
                                    <label>Date de d'arrivée</label>
                                    <span>{{ offreLocation.dateDebut|date('d-m-Y') }}</span>
                                </div>
                                <div class="duration text-center">
                                    <i class="soap-icon-clock"></i>
                                    <span>1 semaine</span>
                                </div>
                                <div class="check-out">
                                    <label>Date de départ</label>
                                    <span>{{ offreLocation.dateDebut|date('d-m-Y') }}</span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <h4>{{ offreLocation.location.hebergement.libelle }}</h4>
                    <dl class="other-details">
                        <dt class="feature">Places :</dt>
                        <dd class="value">{{ offreLocation.location.hebergement.nbMaxPlace }}</dd>
                        {% if offreLocation.location.hebergement.nbChambre > 0 %}
                            <dt class="feature">Chambres</dt>
                            <dd class="value">{{ offreLocation.location.hebergement.nbChambre }}</dd>
                        {% endif %}
                        {% if offreLocation.location.hebergement.nbPiece > 0 %}
                            <dt class="feature">Pieces :</dt>
                            <dd class="value">{{ offreLocation.location.hebergement.nbPiece }}</dd>
                        {% endif %}
                        {% if offreLocation.location.hebergement.surface > 0 %}
                            <dt class="feature">Surface :</dt>
                            <dd class="value">{{ offreLocation.location.hebergement.surface }} </dd>
                        {% endif %}
                        <dt class="total-price">Tarif</dt>
                        <dd class="total-price-value">{{ offreLocation.tarif }} €</dd>
                    </dl>
                </div>
            </div>
            </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/app.js'%}
        <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"/>
    {% endjavascripts %}
{% endblock %}


