{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Réservation{% endblock %}

{% block nav_left_2 %}
      {% include 'FrontBundle:Common:contact.html.twig' %}
 {% endblock %}

{% block body_2 %}
        <div class="container col-md-12">
            <div class="row">
             <h1>Récapitulatif de votre réservation</h1>

                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        Date d'arrivée {{ reservation[0].offreLocation.dateDebut|date('d-m-Y') }}<br>
                        Fin de la réservation {{ reservation[0].offreLocation.dateFin|date('d-m-Y') }}<br>
                        Tarif {{ reservation[0].offreLocation.tarif }}€<br>
                        Date de la demande :{{ reservation[0].date|date('d-m-Y') }}<br>
                        Etat de réservation :{{ reservation[0].etat.libelle }}<br>
                    </div>
                     {% set enseigne = reservation[0].offreLocation.location.enseigne %}
                <h2><a href="{{ path('enseigne_voir',{'id':enseigne.id}) }}">{{ enseigne.nom }}</a></h2>
                {% if enseigne.image %}
                    <figure class="clearfix">
                     {#    <a href="{{ path('enseigne_voir',{'id':enseigne.id}) }}" class="hover-effect"> #}
                        <img src="{{ asset(enseigne.image.webPath) }}" alt="{{enseigne.nom}}" width="450" height="300"/>
                    {# </a> #}
                    </figure>         
                {% endif %}
                {{ enseigne.adresse }}, {{ enseigne.ville.cp }} {{ reservation.ville }}
                <br>
                {{ enseigne.description }}

                {% if reservation[0].participants.count > 0 %}
                    Liste des Participants:
                    <ul id="participantsId">
                        {% for participants in reservation[0].participants %}
                            <li>{participants.nom}} {{ participants.prenom }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
            </div>
            <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                <div class="booking-details travelo-box">
                     {% set hebergement = reservation[0].offreLocation.location.hebergement %}
                    <h4>Hébergement</h4>
                    <article class="image-box hotel listing-style1">
                        <figure class="clearfix">
                            {% if hebergement.hebergementType.image %}
                                <a href="#" class="hover-effect middle-block">
                                    <img class="middle-team"
                                         src="{{ asset(hebergement.hebergementType.image.webPath) }}"
                                         width="270"
                                         height="160" alt="{{ hebergement.hebergementType.libelle }}"></a>
                            {% endif %}
                            <div class="travel-title">
                                <h5 class="box-title">{{ hebergement.libelle }}
                                    <small>{{ hebergement.description }}</small>
                                </h5>
                            </div>
                        </figure>
                   </article>

                
                    <dl class="other-details">
                        <dt class="feature">Places :</dt>
                        <dd class="value">{{ hebergement.nbMaxPlace }}</dd>
                        {% if hebergement.nbChambre > 0 %}
                            <dt class="feature">Chambres :</dt>
                            <dd class="value">{{ hebergement.nbChambre }}</dd>
                        {% endif %}
                        {% if hebergement.nbPiece > 0 %}
                            <dt class="feature">Pieces :</dt>
                            <dd class="value">{{ hebergement.nbPiece }}</dd>
                        {% endif %}
                        {% if hebergement.surface > 0 %}
                            <dt class="feature">Surface :</dt>
                            <dd class="value">{{ hebergement.surface }} </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
            </div>
{% endblock %}
