<div class="travelo-box contact-box">
    <h4>Besoin d'aide ?</h4>

    <p>Vous pouvez nous contacter du lundi au vendredi de 9 h à 18 h</p>
    <address class="contact-details">
        <span class="contact-phone"><i class="soap-icon-phone"></i> 01 23 45 67 89</span>
        <br>
        <a class="contact-email" href="mailto:simply-ce@mail.com">simply-ce@mail.com</a>
    </address>
</div>