{% macro list(enseignes) %}

    {% if enseignes|length > 0 %}
        {% for loc in enseignes %}
            <div class="col-md-3" {#id="enseigne" #}>
                <article class="box thumbnail">
                    {% if (loc[0].enseigne.image) %}
                        <figure class="animated" data-animation-type="fadeInDown"
                                data-animation-delay="1">
                            <a title="{{ loc[0].enseigne.nom }}"
                               href="{{ path('enseigne_voir',{'id': loc
                                   .enseigne_id}) }}"
                               class="hover-effect popup-gallery">
                                <img width="270" height="160"
                                     src="{{ asset(loc[0].enseigne.image.webPath) }}"
                                     alt="{{ loc[0].enseigne.image.alt }}" class="enseigne-mini"/>
                            </a>
                        </figure>
                    {% else %}
                        <figure class="animated" data-animation-type="fadeInDown"
                                data-animation-delay="1">
                            <a href="{{ path('enseigne_voir',{'id':loc.enseigne_id}) }}"
                               class="hover-effect">
                                <img src="{{ asset('bundles/front/img/camping.jpeg') }}"
                                     class="enseigne-mini">
                            </a>
                        </figure>
                    {% endif %}

                    <div class="details">

                        <h4 class="box-title"><a
                                    href="{{ path('enseigne_voir',{'id': loc.enseigne_id}) }}">{{ loc[0]
                                .enseigne.nom }}</a>
                        </h4>
                        {{ loc.nomVille }}

                        <div data-placement="bottom" data-toggle="tooltip" class="classement">
                            {% for i in 1..loc[0].enseigne.classement %}
                                {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                                <img class="etoile" src="{{ asset_url }}"/>
                                {% endimage %}
                            {% endfor %}
                            <span class="price"><small>A PARTIR DE</small> {{ loc.tarifmini }} €
                            <small>La semaine</small>
                        </span>
                        </div>
                        <br>
                        <hr>
                        <a class="button col-md-12" style="background-color:#98ce44;" href="{{ path('enseigne_voir',{'id':loc
                            .enseigne_id}) }}" title="">Voir</a><br>

                    </div>
                </article>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert-danger">Aucune données</div>
    {% endif %}

{% endmacro %}