{# empty Twig template #}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} Sdz{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Vous êtes connecté en tant que {{ app.user.username }}
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion<a/>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
        </div>
    </div>

</nav>


<div class="container">
    <div class="jumbotron">

        <div id="header" class="">
            <h1>Mon projet symfony</h1>

            <p> ce projet est propulsé par symfony 2, et construit grâce au tutoriel du siteduzero,
                par</p>

            <p><a class="btn btn-primary btn-large" href="http://www.google.fr">Lire le tutoriel</a>
            </p>

        </div>

        <div class="row">
            <div id="menu" class="col-md-12">
                <h3>Le blog</h3>
                <ul class="nav nav-tabs">
                    <li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
                    <li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un article</a></li>
                </ul>

            </div>
        </div>

        <div class="row">

            <div id="content" class="col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <hr>
        <footer>
            <p>The sky's limit 2012 and beyond</p>
        </footer>
    </div>
</div>
{% block javascripts %}
    {% javascripts 'js/*' %}
    {#<script src="//Ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>#}
    {#<script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>#}

    {#<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>#}

    <script src="{{ asset_url }}"/>

    {% endjavascripts %}
{% endblock %}
</body>

</html>
