{# empty Twig template #}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} Sdz{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        output='/fonts/compiled/fonts.css'
        'bundles/front/fonts/soap-icons.ttf'
        'bundles/front/fonts/soap-icons.woff'
        'bundles/front/fonts/revicons.ttf'
        'bundles/front/fonts/revicons.woff' %}
        {% endstylesheets %}

        {% stylesheets
        'css/bootstrap.css'
        'css/bootstrap.css.map'
        'css/bootstrap-datepicker.standalone.css'
        'css/bootstrap-datepicker3.css'
        'css/bootstrap-datepicker.css'
        'css/bootstrap-datepicker3.standalone.css'
        'css/bootstrap-theme.css.map'
        'css/bootstrap-theme.css'

        'bundles/front/css/animate.min.css'
        'bundles/front/css/custom.css'
        'bundles/front/css/responsive.css'
        'bundles/front/css/style.css'
        'bundles/front/css/updates.css'
        'bundles/front/css/main.css'

        filter="cssrewrite"
        output="css/compiled/main.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}


    {% endblock %}
    {% image 'bundles/front/img/*' %}
    {#<img src="{{ asset_url }}" alt="Example"/>#}
    {% endimage %}
    {% image 'bundles/front/assets/*' %}
    
    {% endimage %}
</head>
<body>

{% block header %}
    <div class="row"></div>
{% endblock %}

<div class="container">
    <div class="row">
        <div id="content" class="col-md-12" style="height: 50px;">
                  </div>
    </div>
    
    <div class="row">
        {% block slider %}
        {% endblock %}
    </div>
    <br/>
    <div class="row">
        
        {% block nav_left %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>


    <footer id="footer">
        {% block footer %}
        {% endblock %}
    </footer>
</div>
{#</div>#}
{% block javascripts %}
    {% javascripts
    '@LocationBundle/Resources/public/js/jquery-1.9.1.min.js'
    '@LocationBundle/Resources/public/js/bootstrap.js'
    '@LocationBundle/Resources/public/js/bootstrap-datepicker.js'
    '@FrontBundle/Resources/public/js/gmap/*'
    '@FrontBundle/Resources/public/js/slider/jquery.themepunch.tools.min.js'
    '@FrontBundle/Resources/public/js/slider/jquery.themepunch.revolution.js'
    '@FrontBundle/Resources/public/js/bootstrap3-typeahead.js'
    '@FrontBundle/Resources/public/js/search.js'
  
    output="js/compiled/core.js" %}

    <script src="{{ asset_url }}" charset="utf-8"></script>

    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
