{% extends "FrontBundle::layout.html.twig" %}
{% from 'FrontBundle:Common:alerts.html.twig' import flashes %}

{% block title %}Enseignes préférées{% endblock %}


{% block body %}
 
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h1>Mes enseignes préférées</h1>
                         {{ flashes() }}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table class="table table-hover">
                <tr>
                    <th{% if pagination.isSorted('e.libelle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                        (pagination, 'Nom', 'e.libelle') }}</th>
                    <th{% if pagination.isSorted('e.classement') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                        (pagination, 'Etoiles', 'e.classement') }}</th>
                <th{% if pagination.isSorted('e..ville.libelle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                        (pagination, 'Ville', 'e.ville.libelle') }}</th>
                    <th>Departement</th>
                    <th>Actions</th>
                </tr>
                </tr>
                {% for enseigne in pagination %}
                    <tr>
                        <td>{{ enseigne.nom }}</td>
                        <td>
                            {% for i in 0..enseigne.classement %}
                                <img class="etoile" src="{{ asset('images/etoile.png') }}"/>
                            {% endfor %}
                        </td>
                        <td>{{ enseigne.ville.libelle }}</td>
                        <td>{{ enseigne.ville.departement.libelle }}</td>
                        <td>
                            <a id="voirResa" class="button btn-mini green"
                               href="{{ path('enseigne_voir',{'id' : enseigne.id}) }}">
                                Détails
                            </a>

                            <a id="delResa" class="button btn-mini red"
                               href="{{ path('supprimer_favoris',{'id' : enseigne.id}) }}">
                                Retirer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
