{% extends "FrontBundle::layout.html.twig" %}
{% from 'FrontBundle:Common:alerts.html.twig' import flashes %}

{% block title %}Mes réservations{% endblock %}
{% block body %}
    <div class="row">
        <div class="thumbnail block-title col-xs-6 col-xs-offset-4 col-md-7 col-md-offset-1" style="text-align:center;">
            <h1>Mes réservations</h1>
        </div>
    </div>
            <div class="row">
        <div class="col-md-10 col-md-offset-1">

            {{ flashes() }}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table class="table table-hover">
                <tr>
                    {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'r.id') }}</th>#}
                    <th{% if pagination.isSorted('e.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                        (pagination, 'Enseigne', 'e.nom') }}</th>
                    <th{% if pagination.isSorted('h.libelle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                        (pagination, 'Hébergement', 'h.libelle') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date de la demande', ['r.date']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date de d\'arrivée', ['o.dateDebut']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Etat de la demande', ['s.libelle']) }}</th>
                    <th>Durée</th>
                    <th>Actions</th>
                </tr>
                {% for resa in pagination %}
                    {% if resa[0].etat.id == 1 %}
                        <tr class="danger">
                    {% else %}
                        <tr class="success">
                    {% endif %}

                    {#<td>{{ resa[0].id }}</td>#}
                    <td>{{ resa.nom_enseigne }}</td>
                    <td>{{ resa.libelle_hebergement }}</td>
                    <td>{{ resa[0].date|date('d-m-Y') }}</td>
                    <td>{{ resa[0].offreLocation.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ resa[0].etat.libelle }}</td>
                    <td>1 semaine</td>
                    <td>

                        <a id="voirResa" class="button btn-mini green" href="{{ path
                        ('reservation_voir', {'id': resa[0].id} ) }}">Détails</a>
                        {% if resa[0].etat.statut == 0 %}
                            <a id="delResa" class="button btn-mini red"
                               href="{{ path
                               ('reservation_archive',{'id': resa[0].id}) }}">
                                Supprimer
                            </a>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}

            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
