{% extends "FrontBundle::layout.html.twig" %}
{% from 'FrontBundle:Common:alerts.html.twig' import flashes %}

{% block title %}Mes informations personnelles{% endblock %}
{# {% block body_2 %} #}
{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Modifier mes informations personnelles</h1>
            {{ flashes() }}
                {% if app.user %}
                    <div class="well">
                        <form method="post" {{ form_enctype(form) }}>
                            {{ form_widget(form) }}
                            {{ form_row(form.cp) }}
                            {{ form_row(form.ville) }}
                            <input type="submit" class="btn btn-primary" value="Modifier"/>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/infos.js'%}
        <script type="text/javascript" src="{{asset_url}}" charset="utf-8"></script>
    {% endjavascripts %}

{% endblock %}