<div>
    <ul class="travels-news ">

        {% for location in locations %}
            <li class="col-md-4">
                {% if location[0].enseigne.image %}
                    <div class="thumb">
                        <a href="{{ path('enseigne_voir',{'id' : location.enseigne_id}) }}" class="hover-effect">
                            <img src="{{ asset(location[0].enseigne.image.webPath) }}" class="footer-image"/></a>
                    </div>
                {% else %}
                    <div class="thumb">
                        <a href="#" class="hover-effect">
                            {% image '@FrontBundle/Resources/public/img/camping.jpeg' %}
                              <img src="{{ asset_url }}" class="footer-image"/>
                            {% endimage %}
                        </a>
                    </div>
                {% endif %}
                <div class="description">
                    <h5>
                        {{ location.enseigne }}
                    </h5>

                    <div class="feedback">
                        {% image '@FrontBundle/Resources/public/img/etoile.png' %}
                              <img class="etoile" src="{{ asset_url }}"/>
                        {% endimage %}
                    </div>
                    <span class="date">{{ location.tarifmini }} €</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

