{% extends "FrontBundle::layout.html.twig" %}
{% from "FrontBundle:Common:macro.html.twig" import list %}

{% block stylesheets %}
    {% stylesheets
        'bundles/front/css/settings.css'

        filter='cssrewrite'
        output='css/compiled/settigns.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Simply Vacances - Accueil{% endblock %}

{% block slider %}
    <div class="col-md-12">
        {% include 'FrontBundle:Index:slider.html.twig' %}
    </div>
{% endblock %}

{% block nav_left_2 %}
    {% include "FrontBundle:Enseigne:recherche-left-form.html.twig" %}
    {% include "FrontBundle:Common:contact.html.twig" %}
{% endblock %}

{% block body_2 %}
     <div class="row" style="text-align:left;">
        <div class="thumbnail col-xs-6 col-md-4 block-title">
            <h2 >Vacances petit budget</h2>
        </div>
    </div>

    <div class="row image-box style1 add-clearfix">
        <div class="col-md-12">
            {{ list(locationPrixMini) }}
        </div>
    </div>
    <div class="row">
        <div class="thumbnail col-xs-6 col-md-4 block-title">
            <h2>Dernières Offres</h2>
        </div>
    </div>
    <div class="row image-box style1 add-clearfix">
        <div class="col-md-12">
            {{ list(locationNouveautes) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript">
        $(document).ready(function () {
            $('.revolution-slider').revolution(
                    {
                        doindettedOverlay: "none",
                        delay: 9000,
                        startwidth: 970,
                        startheight: 450,
                        onHoverStop: "on",
                        hideThumbs: 10,
                        fullWidth: "off",
                        forceFullWidth: "off",
                        navigationType: "bullet",
                        navigationStyle:"square",
                        navigationArrows : "solo",
                        navigationHAlign : "center",
                        shadow: 0,
                        spinner: "spinner4",
                        hideTimerBar: "on"
                    });
        });
    </script>

{% endblock %}
