<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider">
            <ul>    <!-- SLIDE  -->
                <!-- Slide1 -->
                <li data-transition="fade" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide1.jpg') }}">
                </li>
                <!-- Slide2 -->
                <li data-transition="fadein" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide2.jpg') }}">
                </li>
                <!-- Slide3 -->
                <li data-transition="zoomin" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide3.jpg') }}">
                </li>
                <li data-transition="fadeout" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide4.png') }}">
                </li>
                <!-- Slide2 -->
                <li data-transition="fadein" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide5.png') }}">
                </li>
                <!-- Slide3 -->
                <li data-transition="fadeout" data-slotamount="7"
                    data-masterspeed="1500">
                    <img src="{{ asset('bundles/front/img/slider/slide6.png') }}">
                </li>
            </ul>
        </div>
    </div>
</div>