{% extends "FrontBundle::layout.html.twig" %}
{% from "FrontBundle:Common:macro.html.twig" import list %}

{% block title %}Accueil{% endblock %}

{% block nav_left_2 %}
    {% include "FrontBundle:Enseigne:recherche-left-form.html.twig" %}
    {% include "FrontBundle:Common:contact.html.twig" %}
{% endblock %}

{% block body_2 %}
    <div class="col-md-12">
        <div id="slideshow">
            {#<div class="banner-container">#}
                <div class="fullwidthbanner-container">

                <div class="revolution-slider">
                    <ul>    <!-- SLIDE  -->
                        <!-- Slide1 -->
                        <li data-transition="zoomin" data-slotamount="7"
                            data-masterspeed="1000">
                            <img src="{{ asset('bundles/front/img/slider/slide1.jpg') }}">
                        </li>
                        <!-- Slide2 -->
                        <li data-transition="zoomin" data-slotamount="7"
                            data-masterspeed="1000">
                            <img src="{{ asset('bundles/front/img/slider/slide2.jpg') }}">
                        </li>
                        <!-- Slide3 -->
                        <li data-transition="zoomin" data-slotamount="7"
                            data-masterspeed="1000">
                            <img src="{{ asset('bundles/front/img/slider/slide3.jpg') }}">
                        </li>
                        <!-- Slide4 -->
                        <li data-transition="zoomin" data-slotamount="7"
                            data-masterspeed="1000">
                            <img src="{{ asset('bundles/front/img/slider/slide2.jpg') }}">
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row image-box style1 add-clearfix">
        <div class="col-md-12">
            <h2>Vacances petit budget</h2>
            {{ list(locationPrixMini) }}
        </div>
    </div>
    <div class="row image-box style1 add-clearfix">
        <div class="col-md-12">
            <h2>Dernières Offres</h2>
            {{ list(locationNouveautes) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.revolution-slider').revolution(
                    {
                        dottedOverlay: "none",
                        delay: 4500,
                        startwidth: 970,
                        startheight: 300,
                        onHoverStop: "on",
                        hideThumbs: 10,
                        fullWidth: "off",
                        forceFullWidth: "off",
                        navigationType: "none",
                        shadow: 0,
                        spinner: "spinner4",
                        hideTimerBar: "on"
                    });
        });
    </script>
{% endblock %}
