{# On étend notre layout #}
{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/simplyuser/css/main.css') }}"/>
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}
    {# On affiche les messages flash que définissent les contrôleurs
    du bundle #}
    <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
        <div class="block title">
            <a href="{{ path('front_homepage') }}">
                <img src="{{ asset('bundles/front/img/logo-transparent.png') }}"/>
            </a>
            <br/>
            <h1>Bienvenue</h1>
        </div>
    
{#     {% for key, message in app. session. flashbag. all( ) %}
        <div class="alert alert-{ { key } } ">
            { { message| trans( { } , ' FOSUserBundle' ) } }
        </div>
    {% endfor %} #}
    {% for type, flashes in app.session.flashBag.all %}
        <div id="flashesMessage" class="alert alert-{{ type }}">
            <ul class="list-unstyled">
                {% for flash in flashes %}
                    <li>{{ flash }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle simply userbundle #}
    {% block fos_user_content %}

    {% endblock fos_user_content %}
{% endblock %}