div.container {
    background-image: -webkit-radial-gradient(center center, circle cover, #273648, #0d1218 100%);
    background-image: -moz-radial-gradient(center center, circle cover, #273648, #0d1218 100%);
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

div.login {
    text-align: center;
}

.block {
    text-align: center;
}

h1{
    text-align: center;
    color: #fdb714;
}
 p.block{
     margin-top: 15px;
 }