{% extends "SimplyUserBundle::layout.html.twig" %}

{% block title %}
    Confirmation de la création du compte
{% endblock %}

{% block fos_user_content %}
	<div class="col-md-4 col-md-offset-4">
        <p class="block">
        	{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}
        	<br>
	    	<a href="{{ path('front_homepage') }}" class="btn btn-success active">Accéder à la page d'accueil</a>
	    </p>
	</div>
{% endblock fos_user_content %}

