<div class="col-md-4 col-md-offset-4">
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
	      class="simply_user_registration ">
	    {{ form_widget(form) }}
	    <div>
	        <button type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn button btn-medium sky-blue1 full-width">
	            Créer mon compte
	        </button>
	        <br/>

	    </div>
	</form>
</div>