{% extends "SimplyUserBundle::layout.html.twig" %}

{% block title %}
    Créer un compte
{% endblock %}


{% block fos_user_content %}
    {% include "SimplyUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
