{% extends "FrontBundle::layout.html.twig" %}

{% block body_2 %}
    {% block fos_user_content %}
        <p>
            {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
        </p>
    {% endblock %}
{% endblock %}
