{% extends "SimplyUserBundle::layout.html.twig" %}

    {% block fos_user_content %}
       
        	<div class="col-md-4 col-md-offset-4">
        <p class="block">
        	 <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	    	</p>
	</div>
    {% endblock fos_user_content %}
