<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4
col-lg-offset-4">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request
    form-group">
        <div>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <div class="form-group">
                <input type="email" id="username" name="username" required="required"
                       placeholder="Email"
                       class="form-control"/>
            </div>
        </div>
        <div>
            <button type="submit" class="btn button btn-medium sky-blue1
                        full-width">Réinitialiser votre mot de passe
            </button>
            {#<input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>#}
        </div>
    </form>
</div>