{% extends "SimplyUserBundle::layout.html.twig" %}

{% block title %}
    Réinitialiser votre mot de passe
{% endblock %}

{% block fos_user_content %}
    {% include "SimplyUserBundle:Resetting:request_content.html.twig" %}
{% endblock %}