{% extends "FrontBundle::layout.html.twig" %}

{% block title %}
    Modification du mot de passe
{% endblock %}

{% block body_2 %}
    {% block fos_user_content %}
        <div class="row login">
            {% include "SimplyUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    {% endblock fos_user_content %}
{% endblock %}