body {
    background: #f4f4f4;
}

div.block-title{
    margin-left: 30px;
    text-align: center;
}
div.block-title h2,div.block-title h1{
    margin: 5px 0 5px 0;
}
ul.travels-news .thumb {
    float: left;
    width: 70px;
}
ul.travels-news li{
    margin-top: 20px;
}
ul.travels-news .description {
    padding-left: 78px;
}

#header {
    position: fixed;
}

/*override bottstrap style*/
.navbar-default, .navbar-collapse {
    background-image: none;
    background-color: #01b7f2;
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid #01b7f2;
}

.container {
    background: #EBEBEB;
    /*background: white;*/
}

.contact-details .contact-phone {
    font-size: 1.2em;
}

.btn-reserver:hover:disabled{
    cursor: not-allowed;
}
.contact-details .contact-email {
    font-size: 1.1em;
    padding: 0px;
    color: #01b7f2;
}

.bottom > .container {
    background-color: white;
}

.enseigneImg {
    max-height: 450px;
    /*max-width: 100px;*/
}

#enseigne {
    margin: 10px;
    width: 200px;
    height: 250px;
}

article.detailed-logo figure{
    background: white;
}

.enseigne-mini {
    width: 200px;
    height: 125px;
    max-width: 200px;
    max-height: 125px;
}

.footer-image {
    width: 63px;
    height: 63px;
}

.etoile {
    max-width: 16px;
}
/*
div .bottom {
    background: url("../img/sea.png") no-repeat;
    display: block;
}

.opacity-overlay {
    outline: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10000;
    display: none;
    -webkit-backface-visibility: hidden;
}

.opacity-overlay .container {
    height: 100%;
    position: relative;
    z-index: 10001;
}

.opacity-overlay .spinner {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

.popup-wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 5px;
}

.popup-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup-wrapper .popup-content {
    float: none;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    z-index: 10003;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}*/