{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{# affiche un apercu de l'image dans la la vue list de l'admin#}
{% block field %}
    <div>
        {% if object.image != null %}
            {#<img src="{{ object.image.webPath }}">#}
            <img src="{{ asset(object.image.webPath) }}" alt="{{ object.image.alt }}" class="mini">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}