{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

{# example, assuming you have a route named "login" #}
Votre commande a bien été prise en compte.

Récapitulatif de votre commande :
date de la demande : {{ reservation.date|date('d-m-Y') }}

Tarif {{ reservation.offreLocation.tarif }}

{% if reservation.participants.count > 0 %}
    Listes de participants:
    {% for particpant in reservation.participants %}
        {{ particpant.nom }}
        {{ particpant.prenom }}
        {{ particpant.dateNaiss }}
    {% endfor %}
{% endif %}
{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">